html, body {
  height: 100%;
}

:root {
  --tam-cabecario: 185px;
  --cor-1: #198754;
  --cor-2: #eeffee;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.direita {
  text-align: right; border-radius: 1px solid yellow;
}

.container-lg {
  height: 100%;
  background-color: var(--cor-2);
}

header {
  height: var(--tam-cabecario);
  background-color: var(--cor-1);
  color: white;
}

header h1 {
  text-align: center;
}

main {
  height: calc(100% - var(--tam-cabecario));
  padding: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside > div > div > button {
  margin-bottom: 10px;
}

aside button {
  width: 100%;
}

.display > .row > .col {
  margin: 2px;
}

.display > .row:first-child {
  height: 50px;
}

.display > .row:not(:first-child) {
  height: 200px;
}

.display {
  height: calc(100vh - var(--tam-cabecario) - 20px );
  overflow: auto;
}

.display h2 {
  text-align: center;
}

.display form {
  margin-top: 10vh;
}

.login-header {
  height: 55px;
}

.login-form {
  margin: 0 auto;
  /* background-color: #198754; */
}

.login-btn {
  width: 20vw;
}

.login-titulo {
  color: var(--cor-1);
  text-align: center;
  margin: 5vh;
}
